# Kconfig - HDC1080 temperature and humidity sensor configuration options

#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig HDC1080
	bool "HDC1080 Temperature and Humidity Sensor"
	depends on I2C
	help
	  Enable driver for HDC1080 temperature and humidity sensors.
